a {
    text-decoration: none !important;
}

.background-header {
    background-color: #fff;
    height: 90px!important;
    position: fixed!important;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)!important;
}

.background-header .logo, .background-header .main-nav .nav li a {
    color: #1e1e1e!important;
}

.background-header .main-nav .nav li:hover a, .background-header .nav li a.active {
    color: #c3bdb4;
}

.header-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-area .main-nav .logo {
    line-height: 60px;
    padding-top: 15px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
}

.header-area .main-nav .nav {
    float: right;
    margin-right: 0px;
    background-color: transparent;
    position: relative;
    z-index: 999;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav li:hover a, .header-area .main-nav .nav li a.active {
    opacity: 0.5;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 28px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.header-area .main-nav .menu-trigger span, .header-area .main-nav .menu-trigger span:before, .header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span, .background-header .main-nav .menu-trigger span:before, .background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before, .header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.background-header .main-nav .menu-trigger span:before, .background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before, .header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span, .header-area .main-nav .menu-trigger.active span:before, .header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #1e1e1e;
}

.header-area.header-sticky {
    min-height: 0px;
}

.header-area.header-sticky .nav {
    margin-top: 26px !important;
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-area .main-nav:before {
        display: none;
    }
}

@media (max-width: 767px) {
    .header-area .main-nav .logo {
        color: #1e1e1e;
        font-size: 30px;
        font-weight: 400;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header-area.header-sticky .nav li a:hover, .header-area.header-sticky .nav li a.active {
        color: #1e1e1e!important;
        opacity: 1;
    }
    .header-area {
        background-color: #f7f7f7;
        padding: 0px 15px;
        height: 90px;
        box-shadow: none;
        text-align: center;
        -webkit-transition: all .5s ease 0s;
        -moz-transition: all .5s ease 0s;
        -o-transition: all .5s ease 0s;
        transition: all .5s ease 0s;
    }
    .header-area .container {
        padding: 0px;
    }
    .header-area .logo {
        margin-left: 30px;
    }
    .header-area .menu-trigger {
        display: block !important;
    }
    .header-area .main-nav {
        overflow: hidden;
    }
    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0px;
    }
    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }
    .header-area.header-sticky .nav {
        margin-top: 90px !important;
    }
    .header-area .main-nav .nav li {
        width: 100%;
        background: #f7f7f7;
        border-bottom: 1px solid rgba(185, 185, 185, 0.76);
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #f7f7f7 !important;
        color: #191a20 !important;
    }
    .header-area .main-nav .nav li a:hover {
        background: #c3bdb4 !important;
        color: #fff!important;
    }
}

@media (min-width: 767px) {
    .header-area .main-nav .nav {
        display: flex !important;
    }
}

.img-container {
    height: 96vh;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

.img-container img {
    height: 96vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    display: inline-block;
    max-width: none;
}

.img-container .text-content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: left;
}

.img-container .text-content h2 {
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0px;
}

.img-container .text-content h3 {
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
}

.img-container .text-content h4 {
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}

.scroll-down {
    position: absolute;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 10;
}

.scroll-down a {
    display: inline-block;
    background-color: #c3bdb4;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.scroll-down a:hover i, .scroll-down a:active i {
    color: #fff;
}

.blur-container {
    height: 1vh;
    width: 100%;
    background: linear-gradient(0deg, #fff 0%, rgb(41, 26, 21) 100%);
}

.content-wrapper {
    background-color: #fff;
    padding: 5vh 0 5vh 0;
    align-items: center;
}

.section {
    text-align: center;
}

.section h2 {
    color: #000;
    line-height: 80px;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 3vh;
}

#contact .row {
    justify-content: center;
}

#contact .row .right-text-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 2vw;
}

#contact .row .left-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 2vw;
}

@media (max-width: 575px) {
    #contact .row .right-text-content, #contact .row .left-text-content {
        text-align: center;
        align-items: center;
    }
}

#contact img {
    width: 100%;
    max-width: 260px;
    height: auto;
    margin-bottom: 5vh;
}

#projects .project:focus {
    outline: none;
}

#projects .project-slider {
    height: 60vh;
}

#projects .img-fill {
    text-align: center;
}

#projects .img-fill img {
    object-fit: cover;
    width: 100%;
    height: 60vh;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#projects .img-fill img {
    position: relative;
    display: inline-block;
    max-width: none;
}

#projects .img-fill .project-text {
    color: #fff;
    font-weight: 500;
    position: relative;
    top: -30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    max-width: 730px;
    padding: 15px;
    text-align: center;
}

#projects .img-fill .project-text .project-description {
    margin: 20px;
}

#projects .img-fill .project-text .ext-links {
    margin: 20px;
}

#projects .img-fill .project-text h4 {
    text-transform: uppercase;
    font-weight: 600;
}

#projects .img-fill .project-text > p {
    text-transform: uppercase;
    font-weight: 600;
}

#projects .img-fill .project-text .btn-primary {
    background-color: #c3bdb4;
    border: 1px solid #fff;
}

#projects .slick-dots {
    position: absolute;
    top: 62vh;
    z-index: 11;
}

#projects .button-group button {
    display: inline-block;
    background-color: #c3bdb4;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    border: none;
}

#projects .button-group button:focus {
    outline: none;
}

#projects .previous-arrow {
    position: absolute;
    left: 50%;
    margin-top: -7px;
    margin-left: -105px;
    z-index: 10;
}

#projects .next-arrow {
    position: absolute;
    left: 50%;
    margin-top: -7px;
    margin-left: 69px;
    z-index: 10;
}



footer {
    padding: 40px 0px;
    background: #c3bdb4;
    background: linear-gradient(145deg, #c3bdb4 0%, #c3b5b4 100%);
    text-align: center;
}

footer .left-text-content p, footer .right-text-content a {
    color: #fff;
    font-size: 18px;
}